{% from 'macros/policy_macros.lua.j2' import policy_flags, policy_add, policy_suffix, policy_todname, policy_forward, policy_tls_forward %}
{% from 'macros/view_macros.lua.j2' import view_tsig, view_addr %}

{% if cfg.forward_zones %}
{% for zone in cfg.forward_zones %}
-- forward-zone: {{ zone.name }}
{% if zone.views -%}
{# views set for forward-zone #}
{% for view_id in zone.views -%}
{%- set view = cfg.views[view_id] -%}

{# merge options from view and forward-zone #}
{%- set options = none -%}
{% if zone.options and view.options -%}
{% set options = zone.options|list + view.options|list %}
{% elif zone.options %}
{% set options = zone.options|list %}
{% elif view.options %}
{% set options = view.options|list %}
{%- endif %}

{# view tsig #}
{% if view.tsig %}
{% for tsig in view.tsig %}

{%- if options -%}
{{ view_tsig(tsig|string, policy_suffix(policy_flags(options|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% if zone.tls -%}
{{ view_tsig(tsig|string, policy_suffix(policy_tls_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{% else %}
{{ view_tsig(tsig|string, policy_suffix(policy_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% endfor %}
{% endif %}

{# view addr #}
{% if view.subnets %}
{% for addr in view.subnets %}

{%- if options -%}
{{ view_addr(addr|string, policy_suffix(policy_flags(options|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% if zone.tls -%}
{{ view_addr(addr|string, policy_suffix(policy_tls_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{% else %}
{{ view_addr(addr|string, policy_suffix(policy_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% endfor %}
{% endif %}

{% endfor %}
{% else %}
{# no views set for forward-zone #}

{% if zone.options -%}
{{ policy_add(policy_suffix(policy_flags(zone.options|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% if zone.tls -%}
{{ policy_add(policy_suffix(policy_tls_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{% else %}
{{ policy_add(policy_suffix(policy_forward(zone.servers|list), policy_todname(zone.name|string))) }}
{%- endif %}

{% endif %}
{% endfor %}
{% endif %}
