-- logging.level
log_level('{{ cfg.logging.level }}')

{% if cfg.logging.target -%}
-- logging.target
log_target('{{ cfg.logging.target }}')
{%- endif %}

{% if cfg.logging.groups %}
-- logging.groups
log_groups({
{% for g in cfg.logging.groups %}
{% if g != "manager" %}
    '{{ g }}',
{% endif %}
{% endfor %}
})
{% endif %}

{% if cfg.logging.dnssec_bogus %}
modules.load('bogus_log')
{% endif %}

{% if cfg.logging.dnstap -%}
-- logging.dnstap
modules.load('dnstap')
dnstap.config({
    socket_path = '{{ cfg.logging.dnstap.unix_socket }}',
    client = {
        log_queries = {{ 'true' if cfg.logging.dnstap.log_queries else 'false' }},
        log_responses = {{ 'true' if cfg.logging.dnstap.log_responses else 'false' }},
        log_tcp_rtt = {{ 'true' if cfg.logging.dnstap.log_tcp_rtt else 'false' }}
    }
})
{%- endif %}

-- logging.debugging.assertion-abort
debugging.assertion_abort = {{ 'true' if cfg.logging.debugging.assertion_abort else 'false' }}

-- logging.debugging.assertion-fork
debugging.assertion_fork = {{ cfg.logging.debugging.assertion_fork.millis() }}
