[supervisord]
pidfile = {{ config.pid_file }}
directory = {{ config.workdir }}
nodaemon = true
logfile = {{ config.logfile }}
logfile_maxbytes = 50MB
loglevel = info
silent=true
{# user=root #}

[unix_http_server]
file = {{ config.unix_http_server }}

[supervisorctl]
serverurl = unix://{{ config.unix_http_server }}

{# Extensions for actual API control #}
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[rpcinterface:fast]
supervisor.rpcinterface_factory = knot_resolver_manager.kresd_controller.supervisord.plugin.fast_rpcinterface:make_main_rpcinterface

{# Extensions to changing the supervisord behavior #}
[rpcinterface:manager_lifecycle_monitor]
supervisor.rpcinterface_factory = knot_resolver_manager.kresd_controller.supervisord.plugin.manager_lifecycle_monitor:make_rpcinterface

[rpcinterface:notify]
supervisor.rpcinterface_factory = knot_resolver_manager.kresd_controller.supervisord.plugin:make_rpcinterface

[rpcinterface:stdout_pipe]
supervisor.rpcinterface_factory = knot_resolver_manager.kresd_controller.supervisord.plugin.stdout_pipe_log:make_rpcinterface


[program:manager]
redirect_stderr=false
stdout_logfile=/proc/self/fd/42  # handled by stdout_pipe plugin
stdout_logfile_maxbytes=0
directory={{ manager.workdir }}
command={{ manager.command }}
stopsignal=SIGINT
killasgroup=true
autorestart=true
autostart=true
startsecs=5
environment={{ manager.environment }}

[program:kresd]
process_name=%(program_name)s%(process_num)d
numprocs={{ kresd.max_procs }}
redirect_stderr=false
stdout_logfile={{ kresd.logfile }}
stderr_logfile={{ kresd.logfile }}
directory={{ kresd.workdir }}
command={{ kresd.command }}
autostart=false
autorestart=true
stopsignal=TERM
killasgroup=true
startsecs=10
environment={{ kresd.environment }}

[program:gc]
redirect_stderr=false
stdout_logfile={{ gc.logfile }}
stderr_logfile={{ gc.logfile }}
directory={{ gc.workdir }}
command={{ gc.command }}
autostart=false
autorestart=true
stopsignal=TERM
killasgroup=true
startsecs=0
environment={{ gc.environment }}